@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="modal gx-0 fade mg-search-pop-up" id="search-popup" tabindex="-1" aria-labelledby="search-popup" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close mg-pop-up-close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <span class="mg-spcb-bar-one"></span>
                    <span class="mg-spcb-bar-two"></span>
                </button>
            </div>
            <div class="modal-body align-items-center d-flex">
                <div class="mg-search-pop-form-outer w-100">
                    <div class="search-heading"></div>
                    <form class="">
                        <div class="mg-search-bar-dropdwon">
                            <select class="form-select mg-font-style">
                                <option selected>Category</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Mobile">Mobile</option>
                                <option value="Camera">Camera</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <input class="form-control" type="text" placeholder="What do you need..." aria-label="Search">
                        <button class="btn" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Pop Up End Here -->
<!--page header start here-->
<div class="mg-page-header-section8 mg-page-header-style">
    <div class="mg-page-header-inner">
        <div class="container">
            <div class="mg-page-header-text">
                <div class="mg-page-header-heading">
                    <h3>Contact</h3>
                </div>
                <div class="mg-breadcrumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none" href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page header end here-->
<!--contact us section start here-->
<div class="mg-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="mg-contact-information-section">
                    <div class="mg-contact-info-inner">
                        <div class="mg-contact-info-heading">
                            <h5>Contact Information</h5>
                        </div>
                        <div class="mg-contact-info-content">
                            <h5>Address</h5>
                            <div><span>123 Street Area, Woodland Rd, Australia,<br> US 12345</span></div>
                        </div>
                        <div class="mg-contact-info-content">
                            <h5>Phone Number</h5>
                            <div><span>Mobile: +(1) 234 567 8900</span></div>
                            <div><span>Fax: +(1) 234 567 8900</span></div>
                        </div>
                        <div class="mg-contact-info-content">
                            <h5>Email Address</h5>
                            <div><a href="#"><span>Info@mgwirez.com</span></a></div>
                            <div><a href="#"><span>mgwirezstore@gmail.com</span></a></div>
                        </div>
                        <div class="mg-contact-info-content">
                            <div class="mg-social-link-section">
                                <div class="mg-social-heading me-2">
                                    <span>Social Links</span>
                                </div>
                                <div class="mg-social-link">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="~/images/icons/fb.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="~/images/icons/insta.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="~/images/icons/linkedin.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="~/images/icons/linkedin.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="mg-get-in-touch-form-section">
                    <div class="mg-git-form-heading">
                        <h5>Get in touch</h5>
                        <div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                    <form class="mg-contact-form" action="javascript:void(0);" method="post">
                        <div class="mg-form-main">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="mg-form-input-field">
                                        <input type="text" name="first_name" placeholder="First Name*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="mg-form-input-field">
                                        <input type="text" name="last_name" placeholder="Last Name*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="mg-form-input-field">
                                        <input type="text" name="email" placeholder="Email Address*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="mg-form-input-field">
                                        <input type="text" name="phone_number" placeholder="Phone Number*">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="mg-form-textarea">
                                        <textarea name="message" placeholder="Type message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-form-submit-btn">
                                <button type="submit" class="btn">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                    <div class="alert-msg" style="display:none;">
                        <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                            Email sent successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--contact us section end here-->
<!--map section start here-->
<div class="mg-google-map-section">
    <div class="mg-gm-inner">
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=mohali&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.gachacute.com/">Gacha Cute</a></div></div>

    </div>
</div>
